@custom-media --small (min-width: 0px);
@custom-media --medium (min-width: 641px);
@custom-media --large (min-width: 1025px);
@custom-media --xlarge (min-width: 1441px);
@custom-media --xxlarge (min-width: 1921px);

//src https://foundation.zurb.com/sites/docs/v/5.5.3/media-queries.html
