/*
based on https://github.com/cssrecipes/custom-media-queries/blob/master/index.css
 */
@custom-media --minSmall (min-width: 576px);
@custom-media --minMedium (min-width: 768px);
@custom-media --minLarge (min-width: 992px);
@custom-media --minXLarge (min-width: 1200px);
