/*
  https://material.io/guidelines/layout/responsive-ui.html#
 */

@custom-media --small (min-width: 600px);
@custom-media --medium (min-width: 960px);
@custom-media --large (min-width: 1280px);
@custom-media --xlarge (min-width: 1920px);

