@custom-media --xs (min-width: 0px);
@custom-media --sm (min-width: 600px);
@custom-media --md (min-width: 960px);
@custom-media --lg (min-width: 1264px);
@custom-media --xl (min-width: 1904px);

//src https://vuetifyjs.com/en/layout/breakpoints
